In [1]:
import pandas as pd

# create dataframe by reading csv file
df = pd.read_csv('Activity 2 Data.csv')

print(df.head())

   Order_ID             Product Name  Category  Quantity  Price  Total  \
0      1001      Philips Xenium 9@9w   Philips         5   6326      0
1      1002          Motorola Moto X  Motorola         4   6503      0
2      1003           Bird S288 Plus      Bird         2  10975      0
3      1004    Motorola Moto G6 Plus  Motorola         3  11791      0
4      1005  Samsung I9003 Galaxy SL   Samsung         5   5617      0

        Date
0  1/18/2025
1  4/28/2024
2  7/30/2024
3  7/13/2024
4  2/26/2024

In [11]:
df['Total'] = df['Quantity']* df['Price']
print(df)

    Order_ID                 Product Name      Category  Quantity  Price  \
0       1001          Philips Xenium 9@9w       Philips         5   6326
1       1002              Motorola Moto X      Motorola         4   6503
2       1003               Bird S288 Plus          Bird         2  10975
3       1004        Motorola Moto G6 Plus      Motorola         3  11791
4       1005      Samsung I9003 Galaxy SL       Samsung         5   5617
5       1006               Sony Xperia E5          Sony         4  10199
6       1007            QMobile Noir A110       QMobile         5   9371
7       1008        Allview X2 Soul Style       Allview         5   7420
8       1009                    Nokia E90         Nokia         3  11187
9       1010        Gigabyte GSmart MS802      Gigabyte         4   7699
10      1011           Allview V2 Viper i       Allview         4   3725
11      1012  Motorola Moto E4 Plus (USA)      Motorola         1   8613
12      1013            BenQ-Siemens EF71  BenQ-Siemens         4  10409
13      1014            Samsung Galaxy S7       Samsung         1   6256
14      1015                     NEC N840           NEC         1   3810
15      1016         Panasonic Eluga Mark     Panasonic         5  10714
16      1017             Samsung Galaxy A       Samsung         5   5733
17      1018              Sewon SG-2890CD         Sewon         4   3272
18      1019                    Qtek 8010          Qtek         2   9467
19      1020           LG Optimus L3 E405            LG         1   6352
20      1021                     ZTE A261           ZTE         5   9584
21      1022          Allview X3 Soul Pro       Allview         3   3089
22      1023                    Qtek 7070          Qtek         4   4508
23      1024                Infinix Smart       Infinix         5   7929
24      1025                  BLU J6 2020           BLU         3   6608
25      1026                Sewon SGD-102         Sewon         2  11275
26      1027                   LG Stylo 5            LG         4   5833
27      1028       Microsoft Lumia 640 XL     Microsoft         3   5492
28      1029               Micromax GC400      Micromax         1   5616
29      1030                 Philips W732       Philips         1   5100

    Total        Date
0   31630   1/18/2025
1   26012   4/28/2024
2   21950   7/30/2024
3   35373   7/13/2024
4   28085   2/26/2024
5   40796   6/11/2024
6   46855   3/18/2024
7   37100  10/10/2024
8   33561   11/8/2024
9   30796   7/21/2024
10  14900   6/25/2024
11   8613   6/14/2024
12  41636   3/21/2024
13   6256   10/4/2024
14   3810   1/13/2025
15  53570   6/22/2024
16  28665   9/17/2024
17  13088  11/10/2024
18  18934   5/16/2024
19   6352   10/9/2024
20  47920   7/24/2024
21   9267   11/1/2024
22  18032  10/11/2024
23  39645   10/7/2024
24  19824  12/22/2024
25  22550    2/1/2025
26  23332    2/7/2025
27  16476    5/5/2024
28   5616   6/25/2024
29   5100   8/27/2024

In [24]:
grouped_df = df.groupby('Category')['Quantity'].sum()
sold = grouped_df.idxmax()
print("Maximum Sold Product :",sold )

Maximum Sold Product : Allview

In [28]:
Total_sales = df.groupby('Category').sum()['Total']
print(Total_sales)

Category
Allview         61267
BLU             19824
BenQ-Siemens    41636
Bird            21950
Gigabyte        30796
Infinix         39645
LG              29684
Micromax         5616
Microsoft       16476
Motorola        69998
NEC              3810
Nokia           33561
Panasonic       53570
Philips         36730
QMobile         46855
Qtek            36966
Samsung         63006
Sewon           35638
Sony            40796
ZTE             47920
Name: Total, dtype: int64

In [23]:
more_10000 = df[df['Total'] > 10000]
print(more_10000)

    Order_ID             Product Name      Category  Quantity  Price  Total  \
0       1001      Philips Xenium 9@9w       Philips         5   6326  31630
1       1002          Motorola Moto X      Motorola         4   6503  26012
2       1003           Bird S288 Plus          Bird         2  10975  21950
3       1004    Motorola Moto G6 Plus      Motorola         3  11791  35373
4       1005  Samsung I9003 Galaxy SL       Samsung         5   5617  28085
5       1006           Sony Xperia E5          Sony         4  10199  40796
6       1007        QMobile Noir A110       QMobile         5   9371  46855
7       1008    Allview X2 Soul Style       Allview         5   7420  37100
8       1009                Nokia E90         Nokia         3  11187  33561
9       1010    Gigabyte GSmart MS802      Gigabyte         4   7699  30796
10      1011       Allview V2 Viper i       Allview         4   3725  14900
12      1013        BenQ-Siemens EF71  BenQ-Siemens         4  10409  41636
15      1016     Panasonic Eluga Mark     Panasonic         5  10714  53570
16      1017         Samsung Galaxy A       Samsung         5   5733  28665
17      1018          Sewon SG-2890CD         Sewon         4   3272  13088
18      1019                Qtek 8010          Qtek         2   9467  18934
20      1021                 ZTE A261           ZTE         5   9584  47920
22      1023                Qtek 7070          Qtek         4   4508  18032
23      1024            Infinix Smart       Infinix         5   7929  39645
24      1025              BLU J6 2020           BLU         3   6608  19824
25      1026            Sewon SGD-102         Sewon         2  11275  22550
26      1027               LG Stylo 5            LG         4   5833  23332
27      1028   Microsoft Lumia 640 XL     Microsoft         3   5492  16476

          Date
0    1/18/2025
1    4/28/2024
2    7/30/2024
3    7/13/2024
4    2/26/2024
5    6/11/2024
6    3/18/2024
7   10/10/2024
8    11/8/2024
9    7/21/2024
10   6/25/2024
12   3/21/2024
15   6/22/2024
16   9/17/2024
17  11/10/2024
18   5/16/2024
20   7/24/2024
22  10/11/2024
23   10/7/2024
24  12/22/2024
25    2/1/2025
26    2/7/2025
27    5/5/2024