In [7]:
import pandas as pd

df = pd.read_csv('marks_data.csv')

# print(df)

print(df.head())

df.isna()

df['total'] = df[['math','science','english']].sum(axis=1)
df[['name','math','science','english','total']].head()

   id            name  math  science  english  total         grade
0   1        Ida Sach    40       62       38    212  leading edge
1   2  Haleigh Dulany    38       57       50    111    high-level
2   3   Berte Rowlett    12       79       10    208    task-force
3   4     Cad McQuode    12       42       82    207     help-desk
4   5       Prue Izod    37       58       55    222       neutral

             name  math  science  english  total
0        Ida Sach    40       62       38    140
1  Haleigh Dulany    38       57       50    145
2   Berte Rowlett    12       79       10    101
3     Cad McQuode    12       42       82    136
4       Prue Izod    37       58       55    150

In [22]:
def assign_grade(total):
    if total >=250:
        return 'A'
    elif total >=200:
        return 'B'
    elif total >=150:
        return 'C'
    else:
        return 'D'


df['grade'] = df['total'].apply(assign_grade)

df.head()

df.tail()

grade_a = df[df['grade'] == 'A']
print(grade_a)

grade_b = df[df['grade'] == 'B']
print(grade_b.count())
print(len(grade_b))

grade_d = df[df['grade'] == 'D']
print(len(grade_d))

    id         name  math  science  english  total grade
30  31  Joyann Maus    93       95       72    260     A
id         20
name       20
math       20
science    20
english    20
total      20
grade      20
dtype: int64
20
50
0     False
1     False
2     False
3     False
4     False
      ...
95    False
96     True
97    False
98    False
99    False
Name: math, Length: 100, dtype: bool

In [25]:
print(df[df['math'] == max(df['math'])])

    id        name  math  science  english  total grade
96  97  Tonya Fort    97       22       80    199     C

In [26]:

df.to_csv("data_new.csv",index= False)