In [4]:
print("Hello World")
# hello

Hello World

In [11]:
# Variables
num1 = 10
num2 = 20.89
name = "Mind Sprint"
print(num1)
print(num2)
print(name)
print("Number 1: ",num1)
print(f"Number 2: {num2}")
print("Name: ",name)
print(type(num1))
print(type(num2))
print(type(name))

10
20.89
Mind Sprint
Number 1:  10
Number 2: 20.89
Name:  Mind Sprint
<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
# Value Assignment to Variables
x,y,z = "test1","test2","test3"
print(x," , ",y," , ",z)
# Assign same value to multiple variables
p = q = r = "temp"
print(p," , ",q," ," , r)
# Data Type
print(type(p))

test1  ,  test2  ,  test3
temp  ,  temp  , temp
<class 'str'>

In [18]:
#Taking input from the user
num1 = int(input("Enter 1st number"))
num2 = int(input("Enter 2nd number"))

print("Addition: ",(num1+num2))
print("Subtraction: ",( num1-num2))
print("Multiplication: ",(num1*num2))
print("Division: ",(num1/num2))
print("Floor Division: ",(num1//num2))
print("Modulus: ",(num1%num2))
print("Exponential: ",(num1**num2))

Enter 1st number 4
Enter 2nd number 2

Addition:  6
Subtraction:  2
Multiplication:  8
Division:  2.0
Floor Division:  2
Modulus:  0
Exponential:  16

In [19]:
# Relational Operators

num1 = int(input("Enter 1st number"))
num2 = int(input("Enter 2nd number"))
print("Is num1 equal to num2 ? ",num1==num2)
print("Is num1 not equal to num2 ? ",num1!=num2)
print("Is num1 greater than to num2 ? ",num1>num2)

Enter 1st number 3
Enter 2nd number 4

Is num1 equal to num2 ?  False
Is num1 not equal to num2 ?  True
Is num1 greater than to num2 ?  False

In [22]:
num = 10
num+=5
print(num,"\n")
num-=5
print(num,"\n")
num*=5
print(num,"\n")
num/=5
print(num,"\n")
num**=5
print(num,"\n")
num//=5
print(num,"\n")

15

10

50

10.0

100000.0

20000.0

In [23]:
email = input('Enter your email')
password = input('Enter your password')
print(email == 'admin@gmail.com' and password == 'admin@123')

Enter your email admin@gmail.com
Enter your password admin@123

True

In [27]:
num = int(input("Enter a number"))
if num>0:
    print("Positive Number")
elif num==0:
    print("Number is zero")
else:
    print("Number is negative")


# Ternary
num = 5
print("Positive") if num>0 else print("Non-positive")

num = 5
result = "Positive" if num>0 else "Non-positive"
print(result)

Enter a number 5

Positive Number
Positive
Positive

num = 10
if num>0:
    if num%2==0:
        print("Even Positive")
    else:
        print("Odd Positive")
else:
    print("Non-positive")

In [29]:
# Pass Statement
num = 5
if num>0:
    pass
else:
    print("This won't execute")

In [33]:
mark = int(input("Enter your marks"))
if mark>=90 and mark<=100:
    print("Grade A")
elif mark>=70:
    print("Grade B")
elif mark>=50:
    print("Grade C")
elif mark>=0:
    print("Fail")
else:
    print("Enter valid marks")

Enter your marks 78

Grade B

In [38]:
num = int(input("Enter a number"))
if num>0:
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")
elif num==0:
    print("It's zero")
else:
    if num<-10:
        print("It is less than -10")
    else:
        print("Enter valid number")

Enter a number 0

It's zero

In [47]:
num = int(input("Enter the amount"))
if num>500:
    dis = 0.2*num
elif num>=200:
    dis = 0.1*num
else:
    dis = 0
print("Discount: ",dis,"Final Price: ",num-dis)

Enter the amount 200

Discount:  20.0 Final Price:  180.0

In [50]:
#While Loop
count = 1
while count<=5:
    print("Count: ",count)
    count+=1

#For Loop
for num in range(1,6):
    print("Number: ",num)

#While with break
count = 0
while(count<5):
    if count == 3:
        print("Breaking at count: ",count)
        break
    print("Count is: ",count)
    count += 1


#For with break
for num in range(1,6):
    if num == 5:
        print("Breaking at number: ",num)
        break
    print("Number is: ",num)

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5
Number:  1
Number:  2
Number:  3
Number:  4
Number:  5
Count is:  0
Count is:  1
Count is:  2
Breaking at count:  3
Number is:  1
Number is:  2
Number is:  3
Number is:  4
Breaking at number:  5

In [59]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
summ = 0
for n in range(a,b+1):
    if n%2==0:
        print(n,",",end="")
        summ+=n
print("Sum is: ",summ)

Enter first number 2
Enter second number 10

2 ,4 ,6 ,8 ,10 ,Sum is:  30

In [58]:
n = int(input("Enter a number"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j," ",end="")
    print()

Enter a number 5

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [60]:
def hello():
    print("Hello World")

hello()

Hello World

In [62]:
def greet(name):
    print("Hello",name)

greet('Vishal')

Hello Vishal

In [64]:
def add_num(a,b):
    print(f"The sum of {a} and {b} is {a+b}")

add_num(3,4)

The sum of 3 and 4 is 7

In [65]:
def greet(name = "Guest"):
    print(f"Hello {name}")

greet("Vishal")
greet()

Hello Vishal
Hello Guest

In [67]:
def mul(a,b):
    return a*b

print(f"The product is {mul(3,4)}")

The product is 12

In [69]:
def des(name,age,city):
    print(f"{name} is {age} years old and lives in {city}.")

des(age=25,city="New York",name="AA")

AA is 25 years old and lives in New York.

In [70]:
def fact(n):
    if n==1:
        return 1
    else:
        return n * fact(n-1)

print(f"The factorial of 5 is {fact(5)}")

The factorial of 5 is 120

In [75]:
def login(email,password):
    if email=="admin@gmail.com" and password == "admin@123":
        print("Login Successful")
    else:
        print("Wrong credentials")

login("admin@gmail.com","admin@123")
login("admin@hotmail.com","admin@123")

email = input("Enter email")
password = input("Enter password")

login(email,password)

Login Successful
Wrong credentials

Enter email admin@gmail.com
Enter password admin@123

Login Successful

In [99]:
#List
myList = [10,20,30,40,50]
print(myList)

print(myList[3])
myList.append(60)
print(myList)
myList.insert(2,25)
print(myList)
print(myList[::-1])
print(myList.pop())
print(len(myList))
print(min(myList))
print(max(myList))
# total = sum(myList)
# print(total)

myList.remove(25)
print(myList)


print(myList[-1])
print(myList[1:3])
myList.extend([2,3,4])
print(myList)

myList[4] = 35
print(myList)

myList.pop()
print(myList)
myList.pop(3)
print(myList)

myList.clear()
print(myList)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 60]
[10, 20, 25, 30, 40, 50, 60]
[60, 50, 40, 30, 25, 20, 10]
60
6
10
50
[10, 20, 30, 40, 50]
50
[20, 30]
[10, 20, 30, 40, 50, 2, 3, 4]
[10, 20, 30, 40, 35, 2, 3, 4]
[10, 20, 30, 40, 35, 2, 3]
[10, 20, 30, 35, 2, 3]
[]

In [102]:
myDate = [1,2,3,4,5,6,7,8]
for i in myDate:
    print(i)
print("---------------------------------------------")

i = 0
while i <len(myDate):
    print(myDate[i])
    i+=1

1
2
3
4
5
6
7
8
---------------------------------------------
1
2
3
4
5
6
7
8

In [107]:
myDate.sort(reverse=True)
print(myDate)

[8, 7, 6, 5, 4, 3, 2, 1]

In [108]:

myDate.reverse()
print(myDate)

[1, 2, 3, 4, 5, 6, 7, 8]

In [110]:
copy_num = myDate.copy()
print(copy_num)

squares = [x ** 2 for x in copy_num]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

In [111]:
myTodo = []

def add_todo(todo):
    myTodo.append(todo)
    print(myTodo)


def remove_todo(i):
    myTodo.pop(i)
    print(myTodo)

def get_all_todos():
    print(myTodo)


while True:
    c = int(input("Enter 1 to Add ToDo\nEnter 2 to Remove ToDo\nEnter 3 to Get all Todos\nEnter 4 to Exit\n"))
    if c == 1:
        todo = input("Enter the task")
        add_todo(todo)
    elif c==2:
        i = int(input("Enter the index"))
        remove_todo(i)
    elif c==3:
        get_all_todos()
    elif c==4:
        break
    else:
        print("Enter a valid choice")

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 1
Enter the task sleep

['sleep']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 1
Enter the task greet

['sleep', 'greet']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 1
Enter the task sit

['sleep', 'greet', 'sit']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 1
Enter the task stand

['sleep', 'greet', 'sit', 'stand']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 2
Enter the index 2

['sleep', 'greet', 'stand']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 3

['sleep', 'greet', 'stand']

Enter 1 to Add ToDo
Enter 2 to Remove ToDo
Enter 3 to Get all Todos
Enter 4 to Exit
 4

In [115]:
fruits = ("apple","banana","cherry")
print(fruits)

mixed = ('test',"True",78.4,45,[2,3,4])
print(mixed)

empty_tup = ()
print(empty_tup)

data = ('hell',)
print(data)
print(type(data))


numbers_tuple = (10,20,30)
numbers_list = list(numbers_tuple)

numbers_list.append(40)

numbers_tuple = tuple(numbers_list)
print(numbers_tuple)

('apple', 'banana', 'cherry')
('test', 'True', 78.4, 45, [2, 3, 4])
()
('hell',)
<class 'tuple'>
(10, 20, 30, 40)

In [117]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
result = tuple1+tuple2
print(result)

new_tuple = ('temp',)*4
print(new_tuple)

(1, 2, 3, 4, 5, 6)
('temp', 'temp', 'temp', 'temp')

In [120]:
list = [1,2,3,4,5,6,7,8]
print(list.count(3))

print(list.index(3))

1
2

In [125]:
# Employee Dictionary

employee={
    "eid":1001,
    "name":"Vishal Kumar",
    "dept":"Digital",
    "sal":"8765"
}

print(employee)
print('Employee Id:',employee['eid'])
print('Employee Name:',employee['name'])

# print('Manager: ',employee['manager']) ##Shows error if there is no key as manager
print('Manager: ',employee.get('manager'))
print('Manager: ',employee.get('manager','sdfghjkl'))

rem = employee.pop

{'eid': 1001, 'name': 'Vishal Kumar', 'dept': 'Digital', 'sal': '8765'}
Employee Id: 1001
Employee Name: Vishal Kumar
Manager:  None
Manager:  sdfghjkl

In [132]:
student={
    "id":1,
    "name":"AA",
    "email":"aa@gmail.com",
    "address":"US"
}

for key in student:
    print(key,": ",student[key])

print(student.items())

for key,value in student.items():
    print(key,": ",value)

id :  1
name :  AA
email :  aa@gmail.com
address :  US
dict_items([('id', 1), ('name', 'AA'), ('email', 'aa@gmail.com'), ('address', 'US')])
id :  1
name :  AA
email :  aa@gmail.com
address :  US

In [144]:
# Set
myset = {404,200,500,302,403,302}
print(myset)

for num in myset:
    print(num)

myset.update([303,402])
print(myset)

myset.remove(303)
print(myset)

myset.discard(302)
print(myset)

myset.pop()
print(myset)

myset.clear()
print(myset)

{403, 404, 500, 200, 302}
403
404
500
200
302
{402, 403, 404, 500, 200, 302, 303}
{402, 403, 404, 500, 200, 302}
{402, 403, 404, 500, 200}
{403, 404, 500, 200}
set()

In [145]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A|B)
print(A.union(B))

print(A&B)
print(A.intersection(B))

print(A-B)
print(A.difference(B))

print(A^B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [162]:
# Initialize a dictionary with 3 employees and their salaries
employees = {
    "emp1": {"name": "Alice", "salary": 70000},
    "emp2": {"name": "Bob", "salary": 80000},
    "emp3": {"name": "Charlie", "salary": 75000}
}
 
def add_employee(emp_id, name, salary):
    employees[emp_id] = {"name": name, "salary": salary}
    print(f'Employee "{name}" with salary {salary} added.')
 
 
def update_employee(emp_id, new_salary):
    if emp_id in employees:
        employees[emp_id]["salary"] = new_salary
        print(f'Employee "{employees[emp_id]["name"]}" salary updated to {new_salary}.')
    else:
        print(f'Employee with ID "{emp_id}" not found.')
 
def remove_employee(emp_id):
    if emp_id in employees:
        removed_employee = employees.pop(emp_id)
        print(f'Employee "{removed_employee["name"]}" removed.')
    else:
        print(f'Employee with ID "{emp_id}" not found.')
 
def print_all_employees():
    print("Current employees and salaries:")
    for emp_id, details in employees.items():
        print(f'{emp_id}: {details["name"]} - {details["salary"]}')
 
 
print("Initial employees and salaries:")
print_all_employees()

add_employee("emp4", "David", 85000)
update_employee("emp2", 90000)
remove_employee("emp3")
 
print("Updated employees and salaries:")
print_all_employees()

Initial employees and salaries:
Current employees and salaries:
emp1: Alice - 70000
emp2: Bob - 80000
emp3: Charlie - 75000
Employee "David" with salary 85000 added.
Employee "Bob" salary updated to 90000.
Employee "Charlie" removed.
Updated employees and salaries:
Current employees and salaries:
emp1: Alice - 70000
emp2: Bob - 90000
emp4: David - 85000